.main {
  background: url(img/order1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 20%;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: black;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ordersleft {
  color: white;
  opacity: 100%;
  position: absolute;
  top: 30%;
  left: 5%;
  line-height: 30px;
  width: 40%;
}

#orderbtn:hover{
  opacity: 80%;
  transition: 0.4s;
}

.ordersleft i {
  color: rgb(207, 176, 92);
  margin-right: 2%;
}

.ordersleft h1 {
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}

.ordersleft p {
  font-family: "Rubik", sans-serif;
}

.ordersright{
    position: absolute;
    top: 32%;
    left: 53%;
}

.ordersright select{
  width: 100%;
  /* margin-left: 14%; */
  margin-top: 5%;
  text-align: center;
  font-family: sans-serif;
  padding: 10px 10px;
  cursor: pointer;
}

.ordersright textarea{
  width: 100%;
  height: 50px;
  margin-top: 5%;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}

.ordersright textarea[placeholder]{
  padding-top: 10px;
  color: black;
}

.ordersright pre{
  cursor: pointer;
}

.ordersright select option:hover{
  background-color: rgb(207, 176, 92);
}

.ordersright input{
    padding: 5px 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.ordersright input:focus{
  outline: none;
}

.ordersright textarea:focus{
  outline: none;
}


.inner{
    display: flex;
}

.ordersleft span {
  color: white;
}

#orders{
  display: none;
}

.map iframe {
  width: 389%;
  height: 84vh;
  margin-left: 2.5%;
  opacity: 85%;
}

.footer {
  position: relative;
  display: flex;
}

.footercontactform {
  text-align: center;
  color: white;
  max-width: 400px;
  background-color: rgb(218, 164, 114);
  padding: 20px;
}

.footercontactform input {
  height: 10px;
  padding: 0;
}

.footercontactform input[placeholder] {
  color: black;
}

.footer2 {
  padding-top: 2%;
  background-color: rgb(34, 34, 34);
  height: 30vh;
  display: flex;
  color: rgb(179, 179, 179);
}

.about {
  width: 70%;
  margin-left: 3%;
  font-family: sans-serif;
}

.about h1 {
  font-size: 25px;
}

.about p {
  font-size: 14px;
}

.newsletter {
  width: 60%;
  margin-left: 10%;
}

.gallery {
  color: rgb(212, 212, 212);
  width: 30%;
  margin-left: 5%;
}

.footer3 {
  background-color: rgb(15, 15, 15);
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
}

.gallery h1 {
  font-size: 23px;
  margin-bottom: 1%;
}

.gallery img {
  height: 80px;
  width: 100px;
  margin-left: 0.5%;
}

.gallery3 {
  margin-bottom: 1%;
  width: 400px;
}

.opening {
  color: rgb(212, 212, 212);
  margin-left: 7%;
}

.opening h1 {
  font-size: 23px;
  margin-bottom: 1%;
}

.contactdetail {
  color: white;
  line-height: 35px;
  margin-left: 12%;
}

* {
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
  margin-left: 70%;
  position: absolute;
  top: 262%;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.rate h1 {
  font-size: 15px;
  color: rgb(212, 212, 212);
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

#preloader{
  background: black url(img/preloader.gif) no-repeat center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-size: 10%;
}

#mainnavul{
  margin-left: 47%;
}